body{
     background-image : url("WebpageBackground (1).jpg");
     /* Full height */
       height: 100%;

       /* Center and scale the image nicely */
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
      /* background-size : 1000px 900px;
      background-repeat: no-repeat;
      back */
}

profile{
  height: 200px;
  vertical-align: middle;
  margin-left: 150px;
}


#header {
  border: dotted 7px #D79922;
  padding 2px;
  font-size: 62px;
  font-family: "Lucida Fax", sans-serif;
  margin: 10px 350px 10px 350px;
}

/*Color of language title*/
h1{
  padding-left: 650px;
  color: #949245;
  font-size: 40px;
}

/*Color of subheaders in page*/
h2{
  color: red;
}

h3{
  font-size: 18px;
}

/*Color of paragraphs*/
p, h3{
  color: #101D6B;

}

p {
  font-family: "Optima", sans-serif;
  color: black;
}

